:root {
    --border-color: #6182FC;
    --border-size: 10px;
    --blur: 10px;
    /*--rotate: rotate(45deg);*/
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    padding: var(--border-size);
    background: var(--border-color);
    filter: blur(var(--blur));
    /*transform: var(--rotate);*/
}

.image-display {

    /* Image preview box */
    width: 500px;
    min-height: 100px;
    margin: 20px;
    
    

    /* Default text */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(160, 159, 159);
    font-weight: bold;
    
    
}

.image-preview {
    display: none;
    width: 100%;
    
}