:root {
    --border-color: #6182FC;
    --border-size: 10px;
    --blur: 10px;
    /*--rotate: rotate(45deg);*/
    
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background:rgb(236, 145, 145);
}

.optionsAndPreview {
    margin: 25px;
}

.blur {
    margin: 20px;
}

.borderSize {
    margin: 20px;
}

.rotateField {
    margin: 20px;
}



.rotate {
  background-color: #290235;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5%;
}

.rotate:hover {opacity: 1};

.blur {
    margin: 20px;
}

.borderColor {
    margin: 20px;
}

.upload {
    margin: 20px;
}

#button {
  background-color: green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5%;
  display: hidden;
}

img {
    padding: var(--border-size);
    background: var(--border-color);
    filter: blur(var(--blur));
    /*transform: var(--rotate);*/
}

.title {
    margin: 10px 100px;
}
.image-display {

    /* Image preview box */
    width: 500px;
    min-height: 100px;
    margin: 20px;
    
    

    /* Default text */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(160, 159, 159);
    font-weight: bold;
    
    
}

.image-preview {
    display: none;
    width: 100%;
    
}